<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Verification</servlet-name>
        <servlet-class>Verification.Verification</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Watch</servlet-name>
        <servlet-class>Verification.Watch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddFilm</servlet-name>
        <servlet-class>Verification.AddFilm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Delete</servlet-name>
        <servlet-class>Verification.Delete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HasPayed</servlet-name>
        <servlet-class>Verification.HasPayed</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateUser</servlet-name>
        <servlet-class>Verification.UpdateUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteFilm</servlet-name>
        <servlet-class>Verification.DeleteFilm</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Verification</servlet-name>
        <url-pattern>/Verification.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Watch</servlet-name>
        <url-pattern>/Watch.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddFilm</servlet-name>
        <url-pattern>/AddFilm.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Delete</servlet-name>
        <url-pattern>/Delete.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HasPayed</servlet-name>
        <url-pattern>/HasPayed.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateUser</servlet-name>
        <url-pattern>/UpdateUser.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteFilm</servlet-name>
        <url-pattern>/DeleteFilm.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
